{% extends "base.html" %}
{% load pagination_tags %}
{% block content %}
<div class="all">
    <div id="options">
            <p class="titulo"><b>Opções</b></p>
            <a href='{% url "adicionar_grupo" %}'>Adicionar grupo</a>
    </div>
    {% if objects_tolist %}
        <table id="grupos">
            {% autopaginate objects_tolist 8 %}
            {% for grupo in objects_tolist %}
                <tr>
                    <td>{{ grupo.nome }}</td>
                    <td><a href='{% url "edit_grupo" grupo.id %}' class="see_detail">Editar</a></td>
                    <td><a href='{% url "remover_grupo" grupo.id %}' class="see_detail">Remover</a></td>
                </tr>
            {% endfor %}
         </table>
         {% paginate %}
    {% else %}
        <p class="empty">Nenhum grupo cadastrado.<br>Vamos começar?</p>
    {% endif %}
    {% endblock %}
</div>