{% extends "base.html" %}
{% block content %}
    <ul>
        <li><a href="{% url 'lista_grupos' %}">Grupos</a></li>
        <li><a href="{% url 'lista_inventores' %}">Inventores</a></li>
        <li><a href="{% url 'lista_servidores' %}">Servidores</a></li>
        <li><a href="{% url 'lista_pesquisadores' %}">Pesquisadores</a></li>
        <li><a href="{% url 'lista_tecnologias' %}">Tecnologias</a></li>
        <li><a href="{% url 'lista_instituicoes' %}">Instituições</a></li>
        <li><a href="{% url 'lista_tarefas' %}">Tarefas</a></li>
    </ul>
{% endblock %}