{% extends "base.html" %}
{% load pagination_tags %}
{% block content %}
<div class="all">
    <div class="options">
            <p class="titulo"><b>Opções</b></p>
            <p><a href='{% url "adicionar_instituicao" %}'>Adicionar Instituição</a></p>
            <p><a href="{% url 'search_instituicao' %}">Buscar Instituição</a></p>
    </div>
    {% if objects_tolist %}
        <table id="instituicao">
            {% autopaginate objects_tolist 8 %}
            {% for instituicao in objects_tolist %}
                <tr>
                    <td>{{ instituicao.nome }}</td>
                    <td>{{ instituicao.sigla }}</td>
                    <td><a href='{% url "edit_instituicao" instituicao.id %}' class="see_detail">Editar</a></td>
                    <td><a href='{% url "remover_instituicao" instituicao.id %}' class="see_detail">Remover</a></td>
                </tr>
            {% endfor %}
         </table>
         {% paginate %}
    {% else %}
        <p class="empty">Nenhuma instituição cadastrada.<br>Vamos começar?</p>
    {% endif %}
</div>
{% endblock %}
