{% extends "base.html" %}
{% load pagination_tags %}
{% load staticfiles %}
{% block content %}
<div class="all">
     <div class="section">
        <h2>Instituições</h2>
        <p class="opcao"><img src="{% static 'images/search-0.png' %}"><a href="{% url 'search_instituicao' %}">Buscar Instituição</a></p>
        <p class="opcao"><img src="{% static 'images/add-0.png' %}"><a href="{% url 'adicionar_instituicao' %}">Adicionar Instituição</a></p>
    </div>
    {% if objects_tolist %}
        <table id="instituicao">
            {% autopaginate objects_tolist 8 %}
            {% for instituicao in objects_tolist %}
                <tr>
                    <td>{{ instituicao.nome }}</td>
                    <td>{{ instituicao.sigla }}</td>
                    <td><a href='{% url "edit_instituicao" instituicao.id %}' class="see_detail">Editar</a></td>
                    <td><a href='{% url "remover_instituicao" instituicao.id %}' class="see_detail">Remover</a></td>
                </tr>
            {% endfor %}
         </table>
         {% paginate %}
    {% else %}
        <p class="empty">Nenhuma instituição cadastrada.<br>Vamos começar?</p>
    {% endif %}
</div>
{% endblock %}
