{% extends "base.html" %}
{% block content %}
    <a href="{% url "lista_inventores" %}">Inventores</a>
    <h1>Adicionar um inventor</h1>
    <form id="inventor_form" method="post" action="/adicionar/inventor/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field.label }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Adicionar inventor" />
    </form>
{% endblock %}