{% extends "base.html" %}
{% load pagination_tags %}
{% load staticfiles %}
{% block content %}
<div class="all">
     <div class="section">
        <h2>Buscar Instituição</h2>
        <p class="opcao"><img src="{% static 'images/back-1.png' %}"><a href="{% url 'lista_instituicoes' %}">Voltar</a></p>
    </div>
    <div class="lista">
        <form id="instituicao_search_form" method="post" action="/search/instituicao/" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <p><strong>{{ field.help_text }}</strong></p>
                <p class="campo">{{ field.label }}</p>
                <p class="campo">{{ field }}</p>
            {% endfor %}
            <br><p class="submit"><input type="submit" value="Pesquisar"></p>
        </form>
    </div>
    <div class="section">
        <h2>Resultados</h2>
    </div>
    <div class="lista">
        {% if objects_tolist %}
        <table id="insituicoes">
            <tr>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Telefone</th>
                <th></th>
                <th></th>
            </tr>
            {% for instituicao in objects_tolist %}
                <tr>
                    <td>{{ instituicao.nome }}</td>
                    <td>{{ instituicao.sigla }}</td>
                    <td>{{ instituicao.telefone }}</td>
                    <td><a href='{% url "ver_instituicao" instituicao.id %}' class="see_detail">Ver detalhes</a></td>
                </tr>
            {% endfor %}
         </table>
        {% elif method == 'POST' %}
            {%if nothing_exists %}
                <p class="empty">Nenhuma instituição cadastrada.</p>
            {% else %}
                <p class="empty">Nenhuma instituição encontrada.</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}