{% extends "base.html" %}
{% block content %}
    <a href="{% url 'lista_inventores' %}">Inventores</a>
    <h1>Buscar Inventor</h1>
    <form id="inventor_search_form" method="post" action="/search/inventor/" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.help_text }}
            {{ field.label }}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Search">
    </form>
    {% if objects_tolist %}
    <table id="inventores">
        {% for usuario in objects_tolist %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.telefone }}</td>
                <td><a href='{% url "edit_inventor" usuario.id %}' class="see_detail">Editar</a></td>
                <td><a href='{% url "remover_inventor" usuario.id %}' class="see_detail">Remover</a></td>
            </tr>
        {% endfor %}
     </table>
    {% else %}
        <p>Nenhum inventor!!! :(</p>
    {% endif %}
{% endblock %}