{% extends "base.html" %}
{% load pagination_tags %}
{% load staticfiles %}
{% block content %}
<div class="all">
    <div class="section">
        <h2>Buscar Contrato</h2>
        <p class="opcao"><img src="{% static 'images/back-1.png' %}"><a href="{% url 'lista_contratos' %}">Voltar</a></p>
    </div>
    <div class="lista">
        <form id="contrato_search_form" method="post" action="/search/contrato/" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.help_text }}
                <p class="campo">{{ field.label }}{{ field }}</p>
            {% endfor %}
            <br><p class="submit"><input type="submit" value="Search"></p>
        </form>
    </div>
    <div class="section">
        <h2>Resultados</h2>
    </div>
    <div class="lista">
        {% if objects_tolist %}
        <table id="contratos">
            {% for contrato in objects_tolist %}
                <tr>
                    <td>{{ contrato.codigo }}</td>
                    <td>{{ contrato.tecnologia }}</td>
                    <td>{{ contrato.modalidade }}</td>
                    <td><a href='{% url "edit_contrato" contrato.id %}' class="see_detail">Editar</a></td>
                    <td><a href='{% url "remover_contrato" contrato.id %}' class="see_detail">Remover</a></td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p class="empty">Nenhum contrato cadastrado.</p>
        {% endif %}
    </div>  
</div>  
{% endblock %}