{% extends "base.html" %}
{% load pagination_tags %}
{% block content %}
<a href='{% url "adicionar_tarefa" %}'>Adicionar Tarefa</a>
{% if objects_tolist %}
    <table id="tarefas">
        {% autopaginate objects_tolist 8 %}
        {% for tarefa in objects_tolist %}
            <tr>
                <td>{{ tarefa.nome }}</td>
                <td><a href='{% url "edit_tarefa" tarefa.id %}' class="see_detail">Editar</a></td>
                <td><a href='{% url "remover_tarefa" tarefa.id %}' class="see_detail">Remover</a></td>
            </tr>
        {% endfor %}
     </table>
     {% paginate %}
{% else %}
    <p>Nenhuma tarefa!!! :(</p>
{% endif %}
{% endblock %}

