{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="all">
    <div class="section">
        <h2>Ver tecnologia</h2>
        <p class="opcao"><img src="{% static 'images/back-1.png' %}"><a href="{% url 'lista_tecnologias' %}">Voltar</a></p>
    </div>
    <div class="lista">
         <table id="anexos">
            {% for anexo in aux %}
                <tr>
                    <td><a href="{% url "visualizar_arquivo" anexo.arquivo.id %}" style="float:left">{{ anexo.arquivo.nome }}</a></td>
                    <td>{{ anexo.arquivo.data_geracao|date:"M d, Y" }}</td>
                </tr>
            {% endfor %}
         </table>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>    
</div>
{% endblock %}
