{% extends "base.html" %}
{% load pagination_tags %}
{% load staticfiles %}
{% block content %}
    <div class="all">
        <div class="section">
            <h2>Adicionar uma tecnologia</h2>
            <p class="opcao"><img src="{% static 'images/back-1.png' %}"><a href="{% url 'lista_tecnologias' %}">Voltar</a></p>
        </div>
        <div class="lista">
             <form id="tecnologia_form" class="formulario" method="post" action="/adicionar/tecnologia/" enctype="multipart/form-data">
                
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                    <p class="campo">{{ field.label }} {{ field }}</p>
                {% endfor %}
                <br><p class="submit"><input type="submit" name="submit" value="Adicionar Tecnologia" /></p>
            </form>
        </div>   
    </div>  
{% endblock %}