{% extends "base.html" %}
{% load pagination_tags %}
{% block content %}
<a href='{% url "adicionar_tecnologia" %}'>Adicionar Tecnologia</a>
{% if objects_tolist %}
    <table id="tecnologias">
        {% autopaginate objects_tolist 8 %}
        {% for tecnologia in objects_tolist %}
            <tr>
                <td>{{ tecnologia.nome }}</td>
                <td>{{ tecnologia.categoria }}</td>
                <td>{{ tecnologia.numero_processo }}</td>
                <td><a href='{% url "edit_tecnologia" tecnologia.id %}' class="see_detail">Editar</a></td>
                <td><a href='{% url "remover_tecnologia" tecnologia.id %}' class="see_detail">Remover</a></td>
            </tr>
        {% endfor %}
     </table>
     {% paginate %}
{% else %}
    <p>Nenhuma tecnologia!!! :(</p>
{% endif %}
{% endblock %}

