{% extends "base.html" %}
{% load pagination_tags %}
{% load ifgapp_filters %}
{% block content %}
{% if klass_name == "Inventor" %}
   <table>
        <tr><td><a href='{% url "adicionar_inventor" %}'>Adicionar Inventor</a></td></tr>
        <tr><td><a href="{% url 'search_inventor' %}">Buscar Inventor</a></td></tr>
    </table>
{% elif klass_name == "Servidor" %}
   <a href= '{% url "adicionar_servidor" %}'>Adicionar servidor</a>
{% elif klass_name == "Aluno" %}
   <a href= '{% url "adicionar_pesquisador" %}'>Adicionar pesquisador</a>
{% endif %}
{% if objects_tolist %}
    <table id="usuarios">
        {% autopaginate objects_tolist 8 %}
        {% for usuario in objects_tolist %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                {% if mod_pessoas in perms %}
                    {% if usuario|isinst:"ifgapp.models.Servidor" %}
                        <td>{{ usuario.matricula }}</td>
                        <td><a href='{% url "edit_servidor" usuario.id %}' class="see_detail">Editar</a></td>
                        <td><a href='{% url "remover_servidor" usuario.id %}' class="see_detail">Remover</a></td>
                    {% elif usuario|isinst:"ifgapp.models.Pesquisador" %}
                        <td>{{ usuario.cpf }}</td>
                        <td><a href='{% url "edit_pesquisador" usuario.id %}' class="see_detail">Editar</a></td>
                        <td><a href='{% url "remover_pesquisador" usuario.id %}' class="see_detail">Remover</a></td>
                    {% elif usuario|isinst:"ifgapp.models.Inventor" %}
                        <td>{{ usuario.telefone }}</td>
                        <td><a href='{% url "edit_inventor" usuario.id %}' class="see_detail">Editar</a></td>
                        <td><a href='{% url "remover_inventor" usuario.id %}' class="see_detail">Remover</a></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
     </table>
     {% paginate %}
{% else %}
    <p>Nenhum {{ klass_name }}!!! :(</p>
{% endif %}
{% endblock %}