/* ------------------ GERAL ------------------- */

body {
	background: #eee;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

a{
	text-decoration: none;
}

ul li {
	list-style: none;
}

.oculto {
	display: none;
	visibility: hidden;
}

/*---------------- CONTAINER ------------- */

*{
	margin: 0;
	padding: 0;
}

#container {
	outline: 2px solid red; 
	width: 100%;
	height: 100%;
	position: fixed;
	clear: both;
	overflow: auto;
}

/* --------------- MENU LATERAL -------------- */

#menu {
	position: absolute;
	float: left;
	background: #333333;
	width: 300px;
	height: 100%;
}

#sgpi {
	/* outline: 1px solid red; */
	width: 100%;
	height: 70px;
	margin-top: 5%;
}

#sgpi img {
	margin-left: 5px;
	/* outline: 1px solid red;  */
	width: 140px;
	height: 99%;
}

/* ------------- Menu lateral divisões -------------- */

	/* --------------- USER PROFILE -------------- */

	#userProfile {
		/* outline: 1px solid red; */
		width: 100%;
		height: 60px;
		margin-top: 8%;
	}

	#userProfile p {
		/* outline: 1px solid red; */
		padding: 15px;
		margin: 15px;
		color: white;
		background-color: #1c1c1c;
	}

	/* ----------------- NAV GLOBAL -------------- */

	#navglobal {
		 /* outline: 1px solid red; */
		 margin-top: 8%;
	}

	#navglobal .icon {
		/* outline: 1px solid red; */
		margin: 15px;
		margin-top: 3px;
		width: 90%;
		height: 30px;
	}

	.icon img {
		/* outline: 1px solid red; */
		width: 30px;
		height: 30px;
		margin: 5px;
		float: left;
	}

	#navglobal .icon a {
		/* outline: 1px solid red; */
		width: 70%;
		height: 25px;
		padding-top: 7px;
		color: white;
		float: left;
		margin-left: 40px;
		font-size: 17px;
		border-bottom: thin solid #333333;
		-- webkit-transition: all .4s;
		-o-transition: all .4s;
		transition: all .4s;
	}

	#navglobal .icon a:hover {
		border-bottom: thin solid #9c9c9c;
	}

	/* ---------------- NAVIGATION -------------- */

	#navigation {
		line-height: 55px;
		margin-top: 12%;
		/* outline: 1px solid red; */
	}

	#navigation ul {
		width: 100%;
		display: block;
	}

	#navigation ul li a {
		color: white;
		font-size: 16px;
		display: block;
		width: 100%;
	}

	#navigation ul li {
		padding-left: 2em;
		box-shadow: 3px 0 #333333 inset;
		-- webkit-transition: all .6s;
		-o-transition: all .6s;
		transition: all .6s;
	}

	#navigation ul li:hover {
		box-shadow: 350px 0 #696969 inset;
	}

	p.navigation {
		position: relative;
		padding: 15px;
		padding-right: 35px;
		float: right;
		overflow: hidden;
	}

/* ----------------- CONTENT ----------------- */

#content {
	/* outline: 1px solid blue; */
	margin-top: 15px;
	width: 80%;
	height: 98%;
	float: right;
	clear: both;
	position: absolute;
	margin-left: 320px;
}

/* -------------- Content subdivisões ----------------- */

	/* ------------------ ALL ---------------- */

	.all {
		width: 97%;
		height: 90%;
		margin: 0 auto;
		margin-bottom: 15px;
		background: #FFFFFF;
	}

	.section {
		/* outline: 1px solid red; */
		width: 99%;
		margin: 10px;
		overflow: auto;
	}

	.section h2 {
		width: 97%;
		margin-top: 5px;
		border-bottom: thin groove #009900;
	}

	.section p {
		margin-top: 8px;
	}

	.section a {
		color: #33CCFF;
	}

	.section a:hover {
		color: #3366FF;
	}

	/* ------------- FORMULARIOS -------------- */

	.lista {
		/* outline: 1px solid blue; */
		margin-left: 10px;
		width: 97%;
		overflow: auto; 
		max-height: 36%;
	}

	#contrato_form, #grupo_form, #instituicao_form, #tarefa_form {
		max-height: 80%;
	}

	#tecnologia_form {
		max-height: 75%;
	}

	#instituicao_edit, #grupo_edit, #contrato_edit, #inventor_edit, #servidor_edit, #tarefa_edit {
		max-height: 80%;
	}

	#tecnologia_edit {
		max-height: 75%;
	}

	/* ----- Parágrafos ----- */

	.campo {
		/* outline: 1px solid blue; */
		display: block;
		margin-bottom: 8px;
	} 

	.empty {
		/* outline: 1px solid red; */
		padding-top: 20px;
		font-size: 20px;
		text-align: center;
		width: 15em;
		margin-right: auto;
		margin-left: auto;
	}

	table {
		/* border: 1px solid green; */
		margin-top: 8px;
		/* outline: 1px solid red; */
		width: 100%;
		max-height: 80%;
	}

	table td {
		text-align: center;
	}

	table th {
		padding-bottom: 4px;
		background-color: #ADD8E6;
	}
	

	/* ------------- BOTOES -------------- */

	.all input[type="submit"]{
		color: #000;
		/* outline: 1px solid blue; */
		background-color: #F5F5F5;
		border: 1px solid gray; 
		border-radius: 5px;
	    width: 100%;
		height: 100%;
	}

	.all input[type="submit"]:hover {
		background-color: #DCDCDC;
	}

	.submit {
		/* outline: 1px solid red; */
		width: 150px;
		height: 38px;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 2px;
	}

	.opcao {
		/* outline: 1px solid red; */
		float: right;
		margin-right: 45px;
	}

	.opcao a {
		color: #000;
		font-size: 16px;
		margin-left: 8px;
	}

	.opcao a:hover {
		color: #c0c0c0;
	}

	.opcao img {
		width: 22px;
		height: 22px;
	}

/* ----------------- FOOTER ------------------ */

#footer {
	/* outline: 1px solid red; */
	width: 97%;
	height: 60px;
	margin: 0 auto;
	border-top: 2px solid #999999;
}

#footer p {
	/* outline: 1px solid red; */
	margin: 0;
	margin-top: 3px;
	text-align: center;
	color: #9c9c9c;
}

#footer p a {
	color: #9acd32;
}

#footer p a:hover {
	color: #228b22;
}

/* 
		background: #38B0DE;
	    border: 1px solid #007FFF; 
	    border-radius: 5px; 
	    font-size: 80%;
	    padding: 0 5px; 

	    width: 130px;
		height: 25px;
		background: #38B0DE;
	    border: 1px solid #007FFF;
	    border-radius: 3px;
	    text-align: center;
	    padding: 4px;
	    display: inline-block;  */
